<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680793930071-e353pfc9unotkej0r5ah3jv9m5e3f603.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680793930071-e353pfc9unotkej0r5ah3jv9m5e3f603</string>
	<key>API_KEY</key>
	<string>AIzaSyBGITiDWu5IdG1-sr30Hi1616PuvXNfs7k</string>
	<key>GCM_SENDER_ID</key>
	<string>680793930071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleChatApp</string>
	<key>PROJECT_ID</key>
	<string>simple-chat-app-14471087</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-chat-app-14471087.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680793930071:ios:7257010b872126c2876612</string>
</dict>
</plist>